<!-- [formGroup] connects the form with the form in the ts file with the value “myform” in this case -->
<form [formGroup]="myform" (ngSubmit)="onSubmit()">
  <h2>Login via reactive</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <!-- [formControl]="myform.controls.email" connects the input field to myform -->
      <input id="email" type="email" [formControl]="myform.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <!-- formControlName="password" connects the input field to myform, an alternative to [formControl] -->
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>

    <!-- @if (myform.controls.email.touched && myform.controls.email.dirty &&
    myform.controls.email.invalid) { -->
    @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email address.</p>
    } @if (passwordIsInvalid) {
    <p class="control-error">
      Please enter a valid password - at least 6 characters long.
    </p>
    }
  </div>
</form>
