<main>
  <app-learning-resources />

  <hr />

  <app-auth />

  <!-- @if (isAdmin()){
  <p>Only admins should see this!</p>
  } -->

  <!-- <p *ngIf="isAdmin()">Only admins should see this!</p> -->

  <!-- <ng-template appAuth="admin">
    <p>Only admins should see this!</p>
  </ng-template> -->

  <!-- 
  Alternative: *appAuth - the * creates an ng-template under the hood
  ="'admin'" - the '' are needed because appAuth is automatically bound to [appAuth]. To pass a string instead of an object, you need to use ''.
  -->
  <p *appAuth="'admin'" class="protected-content admin">
    Only admins should see this!
  </p>
  <p *appAuth="'user'" class="protected-content unauthenticated">
    Regular users should see this!
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    Guest users should see this!
  </p>
</main>
